.footer {
    padding: 5rem;

    &__main-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 4rem;
    }

    &__container {
        width: 30%;
    }

    &__day-container {
        margin-top: 3rem;
    }

    &__day {
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        text-align: center;
    }

    &__social-media-icons {
        margin-top: 3rem;
    }

    &__icon {
        padding: 0 1rem;
    }
}
